.welcomeSignUp {
    background: #ECEBED;
    text-align: center;
    font-size: 2rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.textSignup {
    font-size: calc(7px + 3vw);
    color: #3E3E3B;
    position: absolute;
    text-align: center;
    top: 150px;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.signupContent {
    height: 0px;
    background: #ECEBED
}