.theTitleAdmin {
    background: #74828F;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 1rem;
    height: 450px;
    color: white;
    background-image: url('./../image/settingsphoto.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.customerNotifStyle {
    background: #CBC5C1;
    width: calc(180px + 7.5vw);
    min-height: 100px;
    border-radius: 0px;
    font-size: calc(9.1px + 0.5vw);
}
