.theTitle {
    background: #74828F;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 1rem;
    height: 450px;
    color: white;
    background-image: url('./../image/homephoto.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.textHome {
    position: absolute;
    font-size: 3rem;
    color: #EBECED;
    text-shadow: 2px 1px #3E3E3B;
    text-align: center;
    top: 250px;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.textCard {
    font-size: calc(12px + 0.5vw);
    color: #EBECED;
}

.layout {
    background: #EBECED;
    margin: 0px 0px;
    border-radius: 00px;
    padding: 20px;
}

.card {
    background: #A2AAB0;
    width: calc(150px + 5vw);
    font-size: 1.2rem;
    vertical-align: center;
    text-align: center;
    white-space: normal;
}

.textTitle {
    font-size: calc(25px + 1.5vw);
    color: #3E3E3B;
}

.textSubTitle {
    font-size: calc(15px + 1.5vw);
    color: #3E3E3B;
}